@import url("../App.css");
body {
  color: white;
}


.ticketsName {
    font-family: 'Sansita', sans-serif;
    font-size: 2.3rem;
    font-style: italic;
    color: var(--color-pink);
    position: relative;
    left: 90px;
    top:  8px;
}

.ticketsContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    /* justify-content: normal; */
    text-align: center;
    border-style: dotted;
    color: white
}


.ticketsWhen {
    grid-row: 2 / 3;
}

.ticketsFrom {
    grid-row: 2/2;
}
